/* 
햄버거 메뉴 style 입니다.
@author : 이기주
 */

 * {
    margin: 0;
    padding: 0;
}


.hideChkbox {
    display: none;
}

.burger+label { /*input[id="burger"]+label */
    position: relative;
    float: right;
    display: block;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-right: 35%;
    cursor: pointer;
    
}

.burger+label>span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: white;
    transition: all 0.5s;
    z-index: 1;

}

.burger+label>span:nth-child(1) {
    top: 0px;
}

.burger+label>span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger+label>span:nth-child(3) {
    bottom: 0px;
}


.burger:checked+label>span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger:checked+label>span:nth-child(2) {
    opacity: 0;
}

.burger:checked+label>span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.burger+label+.burger-menu {
    position: fixed;
    width: 300px;
    height: 100%;
	background: rgba(51, 51, 51, 0.8);
    top: 70px;
	padding: 30px 10px 10px 10px;
    box-sizing: border-box;
    right: -300px;
    z-index: 1;
    transition: all 0.5s;
}

.burger-menu > ul > li{
    display: block;
    padding: 20px;
}

.burger:checked +label+.burger-menu {
    right: 0px;
}

.burger:checked +label+.burger-menu>ul>li {
    padding: 20px;
}

.burger:checked +label+.burger-menu>ul>li>a {
    color: white;
}

.burger:checked +label+.burger-menu>ul>li>a:hover {
    color: #EDC948;
	font-weight: bold;
}

.burger + label + .burger-menu .hr {
    margin: 0px;
    padding: none;
    width: 100%;
    display: block;
    size: 5px;
}


.burger +label+.burger-menu > .hr hr{
    width: 100%;
    size: 150px;
}
