/*
    @author : 이기주
    semi-project용 style.css 만들어보았습.니다
*/
@charset "UTF-8";

/* 
    @author : 이기주    
    홈페이지의 전체 lay-out 스타일 입니다.
*/
.main-semi {
    width:1000px;
    margin:auto;
    background-color: #222831;
    color: white;

    text-align: center;
}
.header-semi{
    padding: 12px;
    text-align: left;
}
.nav-semi {
    padding-left: 12px;
    height: 30px;
    
}
.footer-semi {
    min-height: 120px;
    padding: 20px;
}
.article-semi {
    margin: 10px;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
}


/* 
@author : 이기주 
메뉴바 속성입니다. 
*/

.logo{
    /* Ottes */
    font-style: normal ;
    font-weight: 600 ;
    font-size: 40px ;
               
    color: #00ADB5;

    text-decoration: none;
    
}

.home-menu{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
              
    color: #FFFFFF;

    text-decoration: none;
    text-align: center;
}

.hamburger{
    align-items: right;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin: 3px;

}

ul.menu-semi, 
ul.menu-semi ul {
    list-style: none;

    padding:0;
    margin:0;
}

ul.menu-semi::after {
    content:"";
    display:block;
    clear:both;
}
ul.menu-semi > li {
    float:left;
    width:150px;
}

ul.menu-semi ul {
    display: none;
}
ul.menu-semi li:hover > ul {
    display: block;
}
ul.menu-semi li {
    position:relative;
}
ul.menu-semi ul {
    position:absolute;
    top:100%;
    left:0%;
}
ul.menu-semi ul {
    width:100%;
}
ul.menu-semi {
    font-size: 16px;
}
ul.menu-semi, ul.menu-semi ul {
    background-color: #222831;
}
ul.menu-semi li {
    padding: 0.5em;
    text-align: center;
}
ul.menu-semi a {
    text-decoration: none;
    color:white;
}
ul.menu-semi li:hover {
    background-color: #636e72;
}
ul.menu-semi a {
    display: block;
    width:100%;
}
ul.menu-semi > li.right-menu-semi {
    float:right;
}
ul.menu-semi > li > ul ul {
    top:0%;
    left:100%;
}
ul.menu-semi > li.right-menu-semi > ul ul {
    left:-100%;
}
ul.menu-semi a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}







