/* 스타일 수정 : 천지연 */

/*
    @author : 이기주
    semi-project용 style.css 만들어보았습니다.
*/

@charset "UTF-8";

/*  전체 lay-out 스타일 */

* {
    text-decoration: none;
    color: #ffffff;
}

.hidden {
    display: none;
}

.clear {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: #222831;
    min-width: 1600px;
}

main {
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

/* 헤더 영역 */

header {
    width: 100%;
    min-width: 1600px;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid #EDC948;
    background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 1));
    box-sizing: border-box;
    padding-bottom: 30px;
    z-index: 999;
}

.logo {
    float: left;
    width: 250px;
    height: 70px;
}

.logo img {
    height: 50px;
}

.logo a {
    display: inline-block;
    width: 250px;
    height: 70px;
    padding: 10px 0;
}

nav {
    float: left;
    height: 70px;
}

.main_menu {
    float: left;
}

.main_menu > li {
    float: left;
    height: 70px;
    width: 150px;
}

.main_menu > li > a {
    display: inline-block;
    width: 150px;
    height: 70px;
    line-height: 70px;
}

.main_menu > li > a:hover {
    color: #EDC948;
    font-weight: bolder;
    
    /* 
    		셀 선택 시 배경색 추가
     */
    background-color: #333;
    border-bottom: 1px solid #EDC948;
}

.main_menu span {
    color: #EDC948;
    font-weight: bolder;	
}

/* 
메인 메뉴 > ul > li 스타일 추가 했습니다.
@author: 이기주
 */
.main_menu>li:hover {
    color: #EDC948;
    font-weight: bolder;
    background-color: #333;
    border-bottom: 1px solid #EDC948;
}

ul.main_menu ul {
    position: absolute;
    width: 150px;
    background-color: #333;
}

ul.main_menu ul>li {
    display: none;
    position: relative;
    padding: 0.5em;
}

ul.main_menu li:hover {
    display: block;
    background-color: #333;
}

ul.main_menu li:hover li {
    display: block;
    background-color: #333;
    padding: 1em;
}

ul.main_menu li>ul>li>a:hover {
    color: #EDC948;
}

div.burger-menu>ul>li {
    margin: 30px
}




/* 콘텐츠 영역 */

.bg_img {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../image/test.PNG); 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bg_gradient {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(34, 40, 49, 1), rgba(0, 0, 0, 0.6));
	z-index: -1;
}


article {  
    padding: 100px 100px 30px 100px;
    text-align: left;   
}

.content {
	z-index: 2;
}

.search {
    padding: 70px 0 130px 250px;
    z-index: 5;
}

.search h2 {
    font-weight: bolder;
    line-height: 50px;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.search p {
    font-size: 1.2em;
    line-height: 35px;
}

.search p span {
    color: #00ADB5;
    font-weight: bolder;
}

.search input {
	border: none;
	outline: none;
    border-bottom: 5px solid #ffffff;
    background-color: transparent;
    width: 500px;
    height: 50px;
    margin-top: 30px;
    padding: 0 0 18px 70px;
    font-size: 1.8em;
    background-image: url(../image/search.png); 
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px 0;
}

.search input::placeholder {
	font-size: 0.6em;
    color: #929292;
}

.content h3 {
	font-size: 1.5em;
	font-weight: bolder;
}

.like_list {
	margin: 60px 0;
}

/* 슬라이더 */

.swiper {
    margin: 30px 0;
    overflow-y: visible;
	height: 350px;
}

.swiper-slide {
	position: relative;
    width: 210px !important;
	height: 300px;
}

.swiper-slide a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.swiper-slide img {
	position: absolute; 
	top: 0; 
	left: 0; 
	transform: translate(50, 50); 
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	margin: auto;
}

.swiper-slide span {
	position: absolute; 
	top: 250px; 
	left: 10px; 
	z-index: 5;
	font-size: 5em;
	font-weight: 900;
	font-style: italic;
	text-shadow: 3px -2px 4px rgba(0,0,0,0.5);
}

.swiper-button-next,
.swiper-button-prev {
	top: 45%; 
    color: #ffffff;
}

/* 푸터 영역 */

footer {
    width: 100%;
    border-top: 1px solid #EDC948;
    background: rgba(0, 0, 0, .5);
    padding: 40px 0;
}

.footer_wrap {
    width: 100%;
}

.footer_menu {
    width: 300px;
    margin: 0 auto;
}

.footer_menu li {
    float: left;
    width: 150px;
    height: 40px;
}

.footer_menu > li > a {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
}

.footer_menu > li > a:hover {
    color: #EDC948;
}

footer p {
    padding: 20px 0 0 0;
    color: #929292;
    font-size: 0.8em;
}
