/* 스타일 수정 : 천지연 */

/*
    @author : 이기주
    semi-project용 style.css 만들어보았습니다.
*/

@charset "UTF-8";

/*  전체 lay-out 스타일 */

* {
    text-decoration: none;   
}

.hidden {
    display: none;
}

.clear {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: #222831;
    min-width: 1600px;
    position: relative;
}

main {
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

/* 헤더 영역 */

header {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 2px solid #EDC948;
    background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 1));
    box-sizing: border-box;
    padding-bottom: 30px;
    /* 
        헤더 영역 분할용 display:flex
        @author:이기주
     */
    display: flex;
    z-index: 999;
}
.header_left{
    /* 
        헤더 영역 분할용 flex
        @author:이기주
     */
    flex: 1;
    width:70%;
}

.logo {
    float: left;
    width: 250px;
    height: 70px;
}

.logo img {
    height: 50px;
}

.logo a {
    display: inline-block;
    width: 250px;
    height: 70px;
    padding: 10px 0;
}

nav {
    float: left;
    height: 70px;
}

.main_menu {
    float: left;
}

.main_menu > li {
    float: left;
    height: 70px;
    width: 150px;
}

.main_menu > li > a {
    display: inline-block;
    width: 150px;
    height: 70px;
    line-height: 70px;
}

.main_menu > li > a:hover {
    color: #EDC948;
    font-weight: bolder;
    
    /* 
    		셀 선택 시 배경색 추가
     */
/*     background-color: #333; */
/*     border-bottom: 1px solid #EDC948; */
}

.main_menu span {
    color: #EDC948;
    font-weight: bolder;	
}

/* 
햄버거 메뉴, 장르 위치조정 스타일 입니다. 
@author: 이기주
 */

div.burger-menu > ul > li,
div.genre-menu > ul > li {
	margin-left:25%;
    width: 150px;
}




/* 콘텐츠 영역 */

.swiper_fade {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 !important;
    overflow: hidden;
} 

.swiper_fade .swiper-slide img {
	width: 100%;      
}

.bg_gradient {
    width: 100%;
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(34, 40, 49, 1), rgba(0, 0, 0, 0.4));
    z-index: 1;
}

article {  
	min-height: 800px;
    padding: 100px 100px 30px 100px;
    text-align: left;   
}

.search {
    padding: 70px 0 120px 250px;
}

.search h2 {
    font-weight: bolder;
    line-height: 50px;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.search p {
    font-size: 1.2em;
    line-height: 35px;
}

.search p span {
    color: #00ADB5;
    font-weight: bolder;
}

.search input {
	border: none;
	outline: none;
    border-bottom: 5px solid #ffffff;
    background-color: transparent;
    width: 500px;
    height: 50px;
    margin-top: 30px;
    padding: 0 0 18px 70px;
    font-size: 1.8em;
    background-image: url(../image/search.png); 
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px 0;
}

.search input::placeholder {
	font-size: 0.6em;
    color: #929292;
}

.content h3 {
	font-size: 1.5em;
	font-weight: bolder;
}

.like_list {
	margin: 60px 0;
}

/* 슬라이더 */

.content .swiper {
    margin: 30px 0;
    overflow-y: visible;
	height: 350px;
}

.content .swiper-slide {
	position: relative;
    width: 210px !important;
	height: 300px;
}

.content .swiper-slide img {
	position: absolute; 
	top: 0; 
	left: 0; 
	transform: translate(50, 50); 
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	margin: auto;
}

.content .swiper-slide .rank {
	position: absolute; 
	top: 250px; 
	left: 10px; 
	z-index: 5;
	font-size: 5em;
	font-weight: 900;
	font-style: italic;
	text-shadow: 3px -2px 4px rgba(0,0,0,0.5);
}

.content .swiper-button-next,
.content .swiper-button-prev {
	top: 45%; 
    color: #ffffff;
}

.content .cover {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
	border: 1px solid #EDC948;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.content .cover_text {	
	display: block;	
	width: 70%;	
	margin: 0 auto;	
	margin-top: 220px;	
}

.content .cover_text span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	font-weight: bolder;
	padding: 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

.content .cover .avg_score {
	font-size: 1em;
	color: #EDC948;
	margin-left: 40px;	
}

.content .cover .count_like {
	font-size: 1em;
	color: #FF003A;	
}

.recent_list_style {
	margin-right: 20px;
}

/* 더보기 버튼 */

.btn_more_wrap {
	height: 50px;
	position: relative;
}

.btn_more {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.2em;
	color: #EDC948;
	font-weight: bolder;
	margin: 0 auto;
	cursor: pointer;
	text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	animation: motion 0.5s linear 0s infinite alternate; 
}
        
@keyframes motion {
	0% {top: 0px; color: #EDC948;}
	100% {top: 5px; color: rgba(237, 201, 72, 0.7);}
}

/* 푸터 영역 */

footer {
    width: 100%;
    border-top: 1px solid #EDC948;
    background: rgba(0, 0, 0, .5);
    padding: 40px 0;
}

.footer_wrap {
    width: 100%;
}

.footer_menu {
    width: 300px;
    margin: 0 auto;
}

.footer_menu li {
    float: left;
    width: 150px;
    height: 40px;
}

.footer_menu > li > a {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
}

.footer_menu > li > a:hover {
    color: #EDC948;
}

footer p {
    padding: 20px 0 0 0;
    color: #929292;
    font-size: 0.8em;
}

/* 고객센터 */

.notice_bg {
	position: absolute;
    width: 100%;
    height: 430px;
    top: 0;
    left: 0;
    opacity: 0.2;
	background-image: url(../image/notice_bg.jpg);
	background-size: cover;
	z-index: -1;
}

.faq_example  {
	margin-top : 20px;
	font-weight: bolder;
}

.faq_example a {
	color: #EDC948;
}

.inquiry_write {
	position: absolute;
	top: 170px;
    left: 950px;
 
}

.inquiry_write div {
	background-color: rgba(255, 255, 255, .2);
	width: 200px;
	height: 50px;
	margin: 35px 0;	
}

.inquiry_write div:hover {
	background-color: rgba(255, 255, 255, .5);
}

.inquiry_write p {
	margin-bottom: 15px;
}

.inquiry_write p:first-child {
	font-weight: bolder;  
}

.inquiry_write a {
	font-weight: bolder;   	
	display: block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 1.2em;
	text-align: center;
}

.notice_sort form {
	display: inline-block;
}

.notice_sort form::after {
	content: "│";
}

.notice_sort form:last-child::after {
	content: "";
}

.notice_sort input[type="submit"] {
	background: none;
	border: none;
	font-size: 1.1em;
	font-weight: bolder;
	padding: 20px 0;
	cursor: pointer;
}

.notice_sort input[type="submit"]:hover {
	color: #EDC948;
}

.notice {
	margin-bottom: 30px;
}

.notice > table {
	width: 100%;
}

.notice > table > thead > tr > th,
.notice > table > tbody > tr > td {
    border-bottom: 1px solid rgba(146, 146, 146, 0.2);
    height: 50px;
    line-height: 50px;
}

.notice > table > thead {
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: bolder;
	font-size: 1.1em;
}

.notice > table > thead > tr > th:nth-child(1),
.notice > table > tbody > tr > td:nth-child(1) {
	font-weight: bolder;
	width: 8%;
}

.notice > table > tbody > tr:hover {
	background-color: rgba(146, 146, 146, 0.2);
}

.notice > table > thead > tr > th:nth-child(2) > a, 
.notice > table > tbody > tr > td a {
	display: block;
	padding-left: 50px;	
	width: 1300px;	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice > table > thead > tr > th:nth-child(3) {
	width: 12%;
}

.notice > table > tbody > tr > td:nth-child(3) {
	color: rgb(146, 146, 146);
}

.notice_detail > table > thead > tr > th {
    height: 80px;
    line-height: 80px;
}

.notice_detail > table > thead > tr > th:nth-child(3) {
	color: rgb(146, 146, 146);
	font-weight: normal;
}

.notice_detail > table > tbody > tr:first-child > td {
	padding: 30px 80px;
	line-height: 40px;
}

.notice_detail > table > tbody > tr:first-child:hover {
	background-color: transparent;
}

.notice_detail pre { 
	white-space: pre-wrap;
	color: rgba(255, 255, 255, .8);
}

.table_active {
	color: #EDC948;
	font-weight: bolder;
}

.inquiry h2 {
    font-weight: bolder;
    font-size: 2em;
    padding: 30px 0;
    border-bottom: 1px solid rgba(146, 146, 146, .5);
}

.inquiry form {
	margin: 30px 0;
}

.inquiry input[type=radio] {
	display: none;
}

.inquiry input[type=radio]+label {
    position: relative;
    display: block;
    padding-left: 28px;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
}

.inquiry input[type=radio]+label::before {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 50%;
    background-color: rgba(237, 201, 72, .2);
}

.inquiry input[type=radio]+label::after {
	display: none;
	position: absolute;
    content: "";
    top: 11px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EDC948;
}

.inquiry input[type=radio]:checked+label::after {
    display: inline-block;
}

.inquiry input, .inquiry textarea {
	background-color: rgba(0, 0, 0, .1);
	border: 1px solid rgba(146, 146, 146, .5);
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 0.9em;
	line-height: 20px;
}

.inquiry input:focus, .inquiry textarea:focus {
	border: 1px solid #EDC948;
}

.inquiry .input-inquiry {
	border-top: 1px solid rgba(146, 146, 146, .5);
	margin: 30px 0;
}

label[for=input_inquiry_content], label[for=input_inquiry_title] {
    display: block;
    font-size: 1.1em;
	font-weight: bolder;
}

label[for=input_inquiry_title] {
    height: 70px;
    line-height: 90px;		
}

label[for=input_inquiry_content] {
	height: 50px;
    line-height: 40px;	
}

.inquiry span {
	color: #FF003A;
}

.inquiry .btn-mint {
    height: 50px;
    line-height: 50px;
    margin: 40px 0 30px 0;
    font-weight: bolder;
    font-size: 1.1em;
    background-color: rgba(0, 173, 181, .8);
}

.inquiry .btn-mint:hover {
	background-color: #00ADB5;
}
